
@{
    ViewData["Title"] = "ForgotPasswordConfirmed";
}

<h1>ForgotPasswordConfirmed</h1>

<h4>You have succesfully reset your password, please click here to <a asp-controller="Accounts" asp-action="Login">login</a></h4>
